[class^="advicon-"], [class*=" advicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'advicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.advicon-arrowB:before {
  content: "\e900";
}
.advicon-arrowL:before {
  content: "\e901";
}
.advicon-basketF:before {
  content: "\e902";
}
.advicon-basketL:before {
  content: "\e903";
}
.advicon-basketL2:before {
  content: "\e904";
}
.advicon-calendarL:before {
  content: "\e905";
}
.advicon-calendarL2:before {
  content: "\e906";
}
.advicon-callPhoneF:before {
  content: "\e907";
}
.advicon-card:before {
  content: "\e908";
}
.advicon-chatF:before {
  content: "\e909";
}
.advicon-checkB:before {
  content: "\e90a";
}
.advicon-checkB2:before {
  content: "\e90b";
}
.advicon-checkL:before {
  content: "\e90c";
}
.advicon-checkL2:before {
  content: "\e90d";
}
.advicon-clockF:before {
  content: "\e90e";
}
.advicon-clockL:before {
  content: "\e90f";
}
.advicon-closeB:before {
  content: "\e910";
}
.advicon-closeL:before {
  content: "\e911";
}
.advicon-discountF2:before {
  content: "\e912";
}
.advicon-couponL:before {
  content: "\e913";
}
.advicon-discountL2:before {
  content: "\e914";
}
.advicon-discountF:before {
  content: "\e915";
}
.advicon-discountL:before {
  content: "\e919";
}
.advicon-fb:before {
  content: "\e91a";
}
.advicon-instB:before {
  content: "\e91b";
}
.advicon-likeF:before {
  content: "\e91e";
}
.advicon-likeL:before {
  content: "\e91f";
}
.advicon-mailB:before {
  content: "\e920";
}
.advicon-mailF:before {
  content: "\e921";
}
.advicon-mailF2:before {
  content: "\e922";
}
.advicon-phoneF:before {
  content: "\e923";
}
.advicon-pig:before {
  content: "\e924";
}
.advicon-pinB:before {
  content: "\e925";
}
.advicon-pinF:before {
  content: "\e926";
}
.advicon-pointerF:before {
  content: "\e927";
}
.advicon-questionL:before {
  content: "\e928";
}
.advicon-questionL2:before {
  content: "\e929";
}
.advicon-quoteF:before {
  content: "\e92a";
}
.advicon-quoteF2:before {
  content: "\e92b";
}
.advicon-quoteF3:before {
  content: "\e92c";
}
.advicon-searchB:before {
  content: "\e92d";
}
.advicon-searchL:before {
  content: "\e92e";
}
.advicon-specialL:before {
  content: "\e92f";
}
.advicon-telegram:before {
  content: "\e930";
}
.advicon-truck:before {
  content: "\e931";
}
.advicon-userF:before {
  content: "\e932";
}
.advicon-userF2:before {
  content: "\e933";
}
.advicon-userL:before {
  content: "\e934";
}
.advicon-viber:before {
  content: "\e935";
}
.advicon-vk:before {
  content: "\e936";
}
.advicon-whatsappF:before {
  content: "\e937";
}
.advicon-whatsappL:before {
  content: "\e938";
}
.advicon-youtube:before {
  content: "\e939";
}
