html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'mullerMedium';
	font-size: 16Px;
	color: $black;
}

ul, li {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px; 
}

p {
	margin: 0;
}

* {
	box-sizing: border-box;
}

a {
	display: inline-block;
	color: #000;
	text-decoration: none;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.container {
	width: 95%;
	max-width: $containerWidth;
	margin: 0 auto;
}

.order-btn {
	display: inline-block;
	padding: 14px 30px 14px 30px;
	background-color: $yellow;
	border-radius: 300px;
	white-space: nowrap;
}

.header-btn i {
	color: #fff;
	margin-right: 10px;
}

.project-btn i {
	color: $black;
	font-size: 14px;
	vertical-align: bottom;
}