extends ./templates/layout
block content
  include ./templates/sections/promo
  section.section
    .container
      .section__top
        h2.section__title Нові надходження 2023
      include ./templates/modules/products-slider
  section.section
    .container
      .section__top
        h2.section__title Adidas Originals
      include ./templates/modules/products-slider
  section.section
    .container
      .section__top
        h2.section__title Air Jordan 1 High
      include ./templates/modules/products-slider
  section.section
    .container
      .section__top
        h2.section__title New Balance
      include ./templates/modules/products-slider